.git/
.gitignore
.dockerignore

Dockerfile
docker-compose.yml
Makefile
entrypoint.sh
LICENSE
README.md

service/document/document
service/auth_session/auth_session
messenger/sync/sync
messenger/upload/upload
messenger/biz_server/biz_server
access/auth_key/auth_key
access/session/session
access/frontend/frontend

docker/
