#folder
target/
.vagrant/

#fixed file
.class
.exe
.log
.prefs
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
*.bak
.idea
*.log
*.swp
*.swo
*.proto
*.tl

/app/messenger/biz_server
/app/bff/account/cmd/account/account
/app/bff/authorization/cmd/authorization/authorization
/app/bff/drafts/cmd/drafts/drafts
/app/bff/bff/cmd/bff/bff
/app/interface/session/cmd/session/session
/app/interface/gateway/cmd/gateway/gateway
/app/service/biz/username/cmd/username/username
/teamgramd/bin/authsession
/teamgramd/bin/bff
/teamgramd/bin/biz_service
/teamgramd/bin/dfs
/teamgramd/bin/gateway
/teamgramd/bin/idgen
/teamgramd/bin/media
/teamgramd/bin/poll
/teamgramd/bin/push
/teamgramd/bin/scheduled
/teamgramd/bin/session
/teamgramd/bin/status
/teamgramd/bin/sync
/teamgramd/bin/twofa
/teamgramd/bin/wallpaper2
/teamgramd/bin/wsserver
/teamgramd/bin/msg
/teamgramd/bin/biz
/teamgramd/logs/authsession/
/teamgramd/logs/bff/
/teamgramd/logs/biz/
/teamgramd/logs/gateway/
/teamgramd/logs/idgen/
/teamgramd/logs/media/
/teamgramd/logs/msg/
/teamgramd/logs/session/
/teamgramd/logs/status/
/teamgramd/bin/GeoLite2-City.mmdb
/teamgramd/bin/GeoLite2-Country.mmdb
/teamgramd/logs/dfs/
/teamgramd/logs/sync/
/app/service/media/internal/dao/examples/examples
