# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

.idea

*.tl

/app/interface/session/client/t/t
/app/interface/session/cmd/session/session

teamgoood/bin/*
!teamgoood/bin/config.json
!teamgoood/bin/killall.sh
!teamgoood/bin/runall2.sh
!teamgoood/bin/runall-docker.sh
!teamgoood/bin/server_pkcs1.key

teamgoood/logs/*
!teamgoood/logs/.gitkeeper
/pkg/net/kitex/codec/examples/echo/cmd/echo/echo
/pkg/net/kitex/codec/examples/echo/client/t/t

v2

/pkg/net/kitex/codec/echo/echo/client/client
/pkg/net/kitex/codec/echo/echo1/cmd/echo1/echo1
/pkg/net/kitex/codec/echo/echo2/cmd/echo2/echo2
/pkg/net/kitex/codec/echo/echo/cmd/echo/echo
/tools/t/

/pkg/proto/crypto/tools/tools

/pkg/proto/rpc/client/client
/pkg/proto/rpc/server/server

.cache/
