# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.idea
.env

*.tl

/app/interface/session/client/t/t
/app/interface/session/cmd/session/session

teamgramd/bin/*
!teamgramd/bin/config.json
!teamgramd/bin/killall.sh
!teamgramd/bin/runall2.sh
!teamgramd/bin/runall-docker.sh
!teamgramd/bin/server_pkcs1.key

teamgramd/logs/*
!teamgramd/logs/.gitkeeper
/pkg/net/kitex/codec/examples/echo/cmd/echo/echo
/pkg/net/kitex/codec/examples/echo/client/t/t

v2

/pkg/net/kitex/codec/echo/echo/client/client
/pkg/net/kitex/codec/echo/echo1/cmd/echo1/echo1
/pkg/net/kitex/codec/echo/echo2/cmd/echo2/echo2
/pkg/net/kitex/codec/echo/echo/cmd/echo/echo
/tools/t/
