services:
  teamgram:
    build: .
    restart: always
    ports:
      - "10443:10443"
      - "11443:11443"
      - "20450:20450"
      - "20010:20010"
      - "20020:20020"
      - "20640:20640"
      - "20110:20110"
      - "5222:5222"
      - "8801:8801"
      - "20660:20660"
      - "20650:20650"
      - "20030:20030"
      - "20120:20120"
      - "20670:20670"
      - "20420:20420"
    networks:
      - teamgram_net

networks:
  teamgram_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
