# 最小 Alertmanager 配置，用于 docker-compose-env2
global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'null'

receivers:
  - name: 'null'
